.posicion{
    position: absolute;
    top:5.8%;
    left:18.5%;

}

.position_banner{
    position: absolute;
    top:5.8%;
    left:17.5%;

}

.position_component{
    position: absolute;
    top:31%;
    left: 38%;

}
.position_test{
    
    position: absolute;
    top:5.8% + 145px;
    left:17.5%;

}
.position_footer{
    
    position: absolute;
    left:0%;

}

.position_component_team{
    position: absolute;
    top:30%;
    left: 34%;

}


.link {
    color: #FFF;
    font-size: 20px;
  }
  .link:hover {
     color: #000
  }
