.posicion{
    position: absolute;
    top:5.8%;
    left:18.5%;
    background-attachment: fixed;

}

.position_banner{
    background-attachment: fixed;
    position: absolute;
    top:5.8%;
    left:17.5%;

}

.position_component{
    background-attachment: fixed;
    position: absolute;
    top:31%;
    left: 38%;

}

.position_component_team{
    background-attachment: fixed;
    position: absolute;
    top:30%;
    left: 34%;

}

.position_component_project{
    background-attachment: fixed;
    position: absolute;
    top:31%;
    left: 18%;

}


.link {
    color: #FFF;
    font-size: 20px;
  }
  .link:hover {
     color: #000
  }

.footer {
    height: calc(100% - 60px);
}